@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0');

#content {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 80%;
   overflow: hidden;
}

#main-content {
	display: inline-block;
	vertical-align: top;
	height: 100%;
   padding: 64px 32px;
}

#main-content h2 {
   font-weight: bold;
   font-size: 20px;
}

#main-content p {
   width: 556px;
}

button {
	width: 84px;
	height: 32px;
	color: white;
	background-color: #ffffff36;
	border: 1px solid #fff;
	transition: 0.3s;
}

button:hover {
	color: black;
	background-color: #F5A732;
	border: none;
	box-shadow: 4px 4px #00000035;
	transition: 0s;
}

button:active {
	box-shadow: 4px 0px #00000035;
	transform: translateY(4px);
}

#section-continue {
	display: grid;
	column-gap: 32px;
	row-gap: 22px;
	grid-template-columns: auto auto;
}

.section-continue-default::before {
	font-family: 'Inter', sans-serif;
	content: "--->";
}

.section-continue-custom {
	width: 268px;
}