body, html {
    height: 100%;
    margin: 0;
    color: white;
}

#content {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 90%;
    overflow-y: hidden;
}

#main-content {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	padding: 64px 32px;
}

#main-content h2 {
   font-weight: bold;
   font-size: 20px;
   padding-bottom: 200px;
}

.chart-container {
    position: relative;
    top: 20%;
    height: 100%;
}


#flowchart {
    height: 60%;
}

h1 {
    position: fixed;
    margin: 25px 0;
}


