@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0');

#content {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 80%;
   	overflow: hidden;
}

#main-content {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	padding: 64px 32px;
}

#main-content h2 {
   font-weight: bold;
   font-size: 20px;
   padding-bottom: 20px;

}


#main-content p {
   width: 556px;
}

button {
	width: 84px;
	height: 32px;
	color: white;
	background-color: #ffffff36;
	border: 1px solid #fff;
	transition: 0.3s;
}

button:hover {
	color: black;
	background-color: #F5A732;
	border: none;
	box-shadow: 4px 4px #00000035;
	transition: 0s;
}

button:active {
	box-shadow: 4px 0px #00000035;
	transform: translateY(4px);
}

#section-continue {
	display: grid;
	column-gap: 32px;
	row-gap: 22px;
	grid-template-columns: auto auto;
}

#credit a {
	font-size: 8px;
	text-decoration: none;
	color: #fff;
}

.section-continue-default::before {
	font-family: 'Inter', sans-serif;
	content: "--->";
}

.section-continue-custom {
	max-width: 80%;
	width: 268px;
	
}

.section-image {
	width: 460px;
	height: 420px;
	position: fixed;
	left: 778px;
	top: 64px;
}

.section-image img {
	object-fit: cover;
	width: inherit;
	height: inherit;
}

#avatar {
	width: 214px;
	height: 264px;
	position: fixed;
	left: 720px;
	top: 300px;
}

#avatar img {
	object-fit: cover;
	width: inherit;
	height: inherit;
}
  
#section-content {
	word-wrap: break-word; /* Stellt sicher, dass Wörter umgebrochen werden, um innerhalb des Containers zu bleiben */
	overflow-wrap: break-word; /* Modernere Alternative zu word-wrap, tut im Wesentlichen dasselbe */
	max-width: 100%; /* Stellt sicher, dass #section-content nicht breiter als sein Container wird */
	width: auto; /* Erlaubt, dass sich die Breite des Containers an den Inhalt anpasst */
	min-width: 0; /* Verhindert, dass der Container zu klein wird (kann je nach Bedarf angepasst werden) */
	padding-bottom: 20px; /* Fügt 20px Padding am unteren Rand hinzu */
}
  
  @media (min-width: 500px) {
	#section-content {
	  max-width: 580px; /* Legt die maximale Breite auf 500px fest, woraufhin Zeilenumbrüche entstehen */
	}
  }
  
