@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0');

html {
   height: 100%;
}

body {
   background-color: #313131;
   color: white;
   font-family: 'Inder', sans-serif;
   font-size: 16px;
   text-align: left;
   -webkit-user-select: none;
   -ms-user-select: none;
   height: 100%;
   margin: 0%;
}

#main {
   height: 100%;
}

#sidebar-collapsed {
   display: inline-block;
   vertical-align: top;
   height: 100%;
   background-color: #759EA6;
   width: 84px;
   height: 100%;
   margin: 0%;
   padding: 0%;
}

#sidebar-collapsed-content {
   display: inline-block;
	vertical-align: top;
   height: 100%;
   font-size: 100px;
   line-height: 42px;
   letter-spacing: -4px;
   padding: 6px;
   margin-top: -16px;
   text-align: left;
}

#sidebar-extended {
   display: inline-block;
   vertical-align: top;
   height: 100%;
   background-color: #759EA6;
   width: 420px;
   -ms-flex: 0 100px;
   -webkit-box-flex:  0;
   -moz-box-flex:  0;
   -ms-box-flex:  0;
   box-flex:  0;
}

#sidebar-extended-menu {
   display: inline-block;
   height: 100%;
   font-size: 24px;
   margin-top: 42px;
   margin-left: 42px;
}

.overlay {
   width: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   background-color: #0000003f;
   backdrop-filter: blur(4px);
   overflow-x: hidden; /*hides content when collapsed*/
   transition: 0.5s;
   overflow-y: hidden;

   height: 100%;
   display: -ms-flexbox;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-box;
   display: box;
   
   -ms-flex-direction: row;
   -webkit-box-orient: horizontal;
   -moz-box-orient: horizontal;
   -ms-box-orient: horizontal;
   box-orient: horizontal;
 }
 
 .overlay-content {
   position: relative;
   width: 100%;
   text-align: left; 
 }
 
 .overlay a {
   text-decoration: none;
   color: white;
   display: block;
   padding: 16px;
   transition: 0.3s;
 }

 .overlay a:hover::before {
   font-family: "Material Icons";
   vertical-align: bottom;
   content: "\e037";
   padding-right:  4px;
}